*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Navbar{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #424360;
    backdrop-filter: blur(1vh);
    top: 0;
    z-index:1000;
}
.navbar-logo{
    font-family: "Jacques Francois Shadow", serif;
    font-size: 24px;
    color: white;
}
.nav{
    display: inline-block;
    list-style: none;
    margin:10px;
}
.nav .nav-link{
    color: white;
}
.nav .nav-link:hover{
    color: #424360;
}
.space{
    display: flex;
    width: 95%;
    padding: 20px 0;

    align-items: center;
    justify-content: space-between;
}
