.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    position: sticky;
    margin-top: -8px;
}
.navbar .nav-link:hover {
    color: black;
}
#Navbar .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 100px;
}

.card {
    width: 18rem;
}